body {
    margin: 30px;
    padding: 0;
    overflow: hidden;
}

h1 {
    color: #5a5a5a;
    text-align: center;
    font-size: 17px;
    font-family: "DejaVu Sans", Arial, Helvetica, sans-serif;
}

p {
    top: 0;
    margin: 10px;
    text-align: center;
    color: #5a5a5a;
    font-family: "DejaVu Sans", Arial, Helvetica, sans-serif;
    font-size: 13px;
}

#subHeader2 {
    top: 0;
    margin: 12px;
    font-size: 10px;
    text-align: center;
    color: #5a5a5a;
    font-family: "DejaVu Sans", Arial, Helvetica, sans-serif;
}

#issMap {
    height: 575px;
}